{% extends "main_container.html" %}
{% block content %}
  <h1 class="title">Sass-O-Matic</h1>
  <form method="POST">
    <div class="form-group">
      {{ form.hidden_tag() }}
      {{ form.original_string.label }}
      {{ form.original_string(class_='form-control', rows='5') }}
    </div>
    {{ form.submit(class_='btn btn-primary') }}
  </form>

  {% for mess in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="fade close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ mess }}
    </div>
  {% endfor %}
{% endblock %}
